<div class="row">
  <div class="col-md-4">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="card">
  <div class="card-header">
    Edit Settings
  </div>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="allowRegistration">Allow Registration</label>
        <input class="ml-1" type="checkbox" name="allowRegistration" id="allowRegistration"
               [checked]="settings.allowRegistration"
               (change)="settings.allowRegistration = !settings.allowRegistration">
      </div>

      <div class="form-group">
        <label for="disableBalanceOnAdd">Disable Balance on Add</label>
        <input class="ml-1" type="checkbox" name="disableBalanceOnAdd" id="disableBalanceOnAdd"
               [checked]="settings.disableBalanceOnAdd"
               (change)="settings.disableBalanceOnAdd = !settings.disableBalanceOnAdd">
      </div>

      <div class="form-group">
        <label for="disableBalanceOnEdit">Disable Balance on Edit</label>
        <input class="ml-1" type="checkbox" name="disableBalanceOnEdit" id="disableBalanceOnEdit"
               [checked]="settings.disableBalanceOnEdit"
               (change)="settings.disableBalanceOnEdit = !settings.disableBalanceOnEdit">
      </div>

      <input type="submit" value="Submit" class="btn btn-dark btn-block">
    </form>
  </div>
</div>
